/* ===== Scrollbar CSS ===== */
  /* Firefox */
  * {
    scrollbar-width: auto;
    scrollbar-color: #545454 #222222;
  }

  /* Chrome, Edge, and Safari */
  *::-webkit-scrollbar {
    width: 9px;
  }

  *::-webkit-scrollbar-track {
    background: #222222;
  }

  *::-webkit-scrollbar-thumb {
    background-color: #545454;
    border-radius: 14px;
    border: 0px solid #ffffff;
  }

body {
    background-color: rgb(26, 48, 82);
}

.on-page{
    font-weight: bold;
}

nav {
    background-color: #132238;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}



#logo {
    display: flex;
    align-items: center;
    color: white;
    font-family: Teko;
}

#logo h1 {
    font-size: 50px;
    text-shadow: rgb(123, 174, 241) 0px 0px 10px;
}

#logo span {
    font-size: 50px;
    text-shadow: rgb(123, 174, 241) 0px 0px 10px;
    margin: -5px 0px 0px 5px;
}

nav ul{
    width: 40%;
    display: flex;
    justify-content: space-around;
}
 
nav li a{
    font-family: 'Nunito';
    color: white;
    text-decoration: none;
    font-size: 22px;
    font-weight: 300;
    transition: 0.3s color;
}

nav li a:hover{
    color: #5b97f1;
}

nav ul{
    display: flex;
}

section{
    min-height: calc(100vh - 90px);
}

#tensao-container{
    width: 95%;
    display: flex;
    min-height: 80%;
    justify-content: space-between;
    align-items: center;
    padding-top: 15px;
}

.historico, .calc{
    width: 49%;
    min-height: 82vh;
    max-height: 82vh;
}

.historico{
    background-color: rgb(34, 34, 34);
    display: flex;
    align-items: center;
    flex-direction: column;
}

.historico p{
    margin-top: 15px;
    color: whitesmoke;
    font-family: 'Nunito';
    font-size: 20px;
}

.hist-space{
    width:85%;
    overflow-y: auto;
    height: 400px;
    padding-bottom:15px;
}

.calc{
    background-color: whitesmoke;
}

.title{
    font-size: 60px;
    font-family: 'Teko';
    text-align: center;
    margin-top: 20px;
}

.historico .title{
    color: whitesmoke;
}

.calc .title{
    color: #222222;
}

.formula{
    width: 100%;
    font-family: 'Nunito';
    text-align: center;
    margin-top: 15px;
}

.title-formula{
    font-size: 30px;
}

.formula-itens{
    font-size: 25px;
    margin-top: 20px;
    color: #6b6b6b;
}

.formula-fact{
    font-size: 30px;
    margin-top: 20px;
}

.formula-fact :nth-child(1){
    color: red;
}

.formula-fact :nth-child(2){
    color: #0058e6;
}

.formula-fact :nth-child(3){
    color: blueviolet;
}

.form-formula{
    margin-top: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.form-formula p{
    font-size: 40px;
    font-family: 'Nunito';
    margin: 0 10px;
}
.form-formula input{
    font-size: 40px;
    width: 40%;
    text-align: center;
    font-family: 'Nunito';
    padding: 5px 0;
    outline: 0;
    font-weight: 300;
    color: #6b6b6b;
    border: 0;
    box-shadow: 0 0 5px #9b9b9b;
}

.button-calc{
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top:30px;
}

.button-calc button{
    font-family: 'Teko';
    font-size: 30px;
    border: 0;
    outline: 0;
    background-color: #003181;
    color: whitesmoke;
    padding: 5px;
    transition: 0.3s background-color;
    cursor: pointer;
}

.button-calc button:hover{
    background-color: #022153;
}

.result{
    margin-top: 35px;
    display: flex; 
    justify-content: center;
    align-items: center;
}

.result p{
    font-family: 'Teko';
    font-size: 50px;
    line-height: 35px;
    margin-top: 4px;
}

.result .result-space{
    background-color: white;
    padding: 7px;
    box-shadow: 0 0 10px #9b9b9b;
    margin-left: 10px;
    color: #6b6b6b;
}

.center{
    display: flex;
    justify-content: center;
}